__pycache__/
.ipynb_checkpoints/
venv/
support/
snapshot/
yolov3-tf2/
yolov3-tiny.weights
memo.md
workspace.code-workspace
*.avi

# Pythonキャッシュ
*.pyc

# データは容量が大きすぎので除外
.DS_Store
100knock-data_analytics.zip
